*{
    margin: 0;
}

.header{
    padding: 0;
    background-color: rgb(67, 149, 255);
    /* background-image: url(./../Assets/Homepage/TextBox.png); */
    /* background-repeat: no-repeat;
    background-position: center;
    background-size : cover; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    border: 0;
    padding: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .hlText{
    font-size: 3vh;
    display: flex;
    align-items: center;
}

.header .hLeft{
    display: flex;
    align-items: center;
}

.header .hLeft .hlText{
    margin-left: 5vw;
    display: flex;
    align-items: center;
}

.header .hLeft .hlText .navbar, .hAgents{
    margin-right: 5vw;
}

.agentslink{
    text-decoration: none;
    color: black;    
    padding: 5vh 6vh;
    border: none;
}

.navMap{
    text-decoration: none;
    color: black;
}

.navMap {
    background-color: rgb(67, 149, 255);
    color: black;
    padding: 5vh 6vh;
    border: none;
    text-decoration: none;
}
  
.navbar {
    position: relative;
    display: inline-block;
}
  
.navbar-item {
    display: none;
    position: absolute;
    background-color: rgb(38, 115, 216);
    min-width: 40vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar-item img{
    /* width: 150px;
    height: 75px; */
    width: 18vh;
    height: 9vh;
}
  
.navbar-item .navMaps {
    color: black;
    padding: 1vh 2vh;
    font-size: 4vh;
    text-decoration: none;
    display: block;
}
  
.navbar-item .navMaps:hover {
    background-color: #ddd;
}
  
.navbar:hover .navbar-item {
    display: block;
}
  

.navbar:hover .navMap , .agentslink:hover , .specslink:hover{
    background-color: #db3edb;
}

.specslink{
    text-decoration: none;
    color: black;
    padding: 5vh 6vh;
    border: none;
}

.header .hRight{
    display: flex;
    align-items: center;
}

.header .hRight img{
    /* width: 120px;
    height: 120px; */
    height: 12vh;
    width: 12vh;
}

#hRegister{
    background-color: rgb(25, 25, 75);
    padding: 2vh;
   color: orange;
   text-decoration: none;
   margin-right: 3vh;
   font-size: 3vh;
}

#hRegister:hover{
    background-color: rgb(47, 47, 141);
}

#lfLogo{
    /* width: 200px;
    height: 100px; */
    display: flex;
    align-items: center;
    width: 24vh;
    height: 12vh;
}

/* MIDDLE SECTION (MAPS) */

.lfMaps{
    min-width: 1920px;
}

.mapSeparator{
    background-color: black;
    padding: 0.7vh;
}

#ascentTitle{
    /* margin-top: 123px; */
    margin-top: 14vh;
    background-color: rgb(30, 30, 105);
    color: red;
    text-align: center;
    padding: 2%;
    font-size: 5vh;
}

#ascentImage{
    /* background-image: url(./../Assets/Maps/Ascent.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 1080px;
    background-color: rgb(60, 60, 153);
}

.ascentDesc{
    background-color: rgb(30, 30, 105);
    display: flex;
    justify-content: center;
}

.ascentDesc img{
    width: 50%;
    height: 50%;
}

#ascentdescText{
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(119, 255, 7);
    font-size: 3vh;
}

#bindTitle , #breezeTitle , #havenTitle , #iceboxTitle , #splitTitle{
    background-color: rgb(30, 30, 105);
    color: red;
    text-align: center;
    padding: 2%;
    font-size: 5vh;
}

#bindImage , #breezeImage , #havenImage , #iceboxImage , #splitImage{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 1080px;
    background-color: rgb(60, 60, 153);
}

.bindDesc , .breezeDesc , .havenDesc , .iceboxDesc , .splitDesc{
    background-color: rgb(30, 30, 105);
    padding: 20px;
    display: flex;
    justify-content: center;
}

.bindDesc img, .breezeDesc img, .havenDesc img, .iceboxDesc img, .splitDesc img{
    width: 50%;
    height: 50%;
}

#binddescText , #breezedescText , #havendescText , #iceboxdescText , #splitdescText{
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(119, 255, 7);
    font-size: 3vh;
}

.footer{
    background-color: rgb(50, 98, 160);
    padding: 2vh;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#socialmedia img{
    margin-left: 1vh;
    width: 5vh;
    height: 5vh;
}

@media only screen and (min-width: 1940px) {
    #ascentImage img, #breezeImage img, #bindImage img, #havenImage img, #iceboxImage img, #splitImage img{
        width: 100vw;
        display: flex;
    }
    /* .ascentDesc img, .bindDesc img, .breezeDesc img, .havenDesc img, .iceboxDesc img, .splitDesc img{
        width: auto;
        height: 50%;
    } */
    /* #ascentTitle , #bindTitle , #breezeTitle , #havenTitle , #iceboxTitle , #splitTitle{
         margin-top: 123px;
        margin-top: 14vh;
        background-color: rgb(30, 30, 105);
        color: red;
        text-align: center;
        padding: 0.5vh;
        font-size: 3vh;
    } */
}


.mobileHeader{
    margin: 0;
    padding: 0;
    top: 0;
    border: 0;
    background-color: rgb(67, 149, 255);
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    display: none;
}

.buttonbar{
    height: 10%;
    width: 10vh;
    background-color: white;
    margin-left: 2vh;
    margin-top: 1.8vh;
}

.lfmobileLogo img{
    height:10vh;
    width: 20vh;
    margin-right: 1vh;
}

.mobileNavbar{
    text-decoration: none;
    position: relative;
    width: 100%;
}

.mobileNavigation{
    text-decoration: none;
    color: white;
    font-size: 4vh;
    padding: 2vh;
}

#mobilenavbar-item {
    display: flex;
    flex-direction: column;
    display: none;
    position: fixed;
    background-color: rgb(67, 149, 255);
    padding: 0;;
    z-index: 1;
}

@media only screen and (max-width: 600px){
    .header{
        display: none;
    }
    .mobileHeader, .mobileMiddle , .mobileMaps , .mobileAgents{
        display: flex;
    }
    .lfMaps{
        min-width: 0;
    }
    #ascentTitle{
        margin-top: 10vh;
    }
    #ascentImage img , #bindImage img , #breezeImage img, #havenImage img, #iceboxImage img, #splitImage img{
        width: 100vw;
        min-height: 0;
        justify-content: center;
        background-color: rgb(60, 60, 153);
    }
    #ascentImage ,#bindImage , #breezeImage , #havenImage , #iceboxImage , #splitImage{
        min-height: 0;
    }
    #ascentdescText, #binddescText , #breezedescText , #havendescText , #iceboxdescText , #splitdescText{
        display: flex;
        align-items: center;
        text-align: center;
        color: rgb(119, 255, 7);
        font-size: 2vh;
    }
    #ascentTitle, #bindTitle , #breezeTitle , #havenTitle , #iceboxTitle , #splitTitle{
        background-color: rgb(30, 30, 105);
        color: red;
        text-align: center;
        padding: 2%;
        font-size: 3vh;
    }
    /* #mobileLaForant{
        margin-top: 10vh;
    }
    .mobilemiddleText, #mobilemaText, #mobilemText, #mobileLaForant , #viewAgents ,#mobilemRegister, #mobileviewagents , #mobileMaps, #mobileviewmaps {
        display: flex;
    }
    .middle{
        display: none;
        margin-top: 0;
        min-height: 50vh;
    }
    .mText, .agentsText, .mapsText{
        display: none;
        background: none;
        padding: 0;
        padding-top: 7vh;
    }
    #LaForant, #Agents , #Maps{
        display: none;
        font-size: 6vh;
    }
    #lfText, #maText , #mmText{
        font-size: 3vh;
    }
    #mRegister, #viewagents , #viewmaps{
        font-size: 4vh;
    }
    .mAgents, .mMaps{
        display: none;
        min-height: 50vh;
    } */
}


@media only screen and (max-height: 600px){
    .header{
        display: none;
    }
    .mobileHeader, .mobileMiddle , .mobileMaps , .mobileAgents{
        display: flex;
    }
    .lfMaps{
        min-width: 0;
    }
    #ascentTitle{
        margin-top: 10vh;
    }
    #ascentImage img , #bindImage img , #breezeImage img, #havenImage img, #iceboxImage img, #splitImage img{
        width: 100vw;
        min-height: 0;
        justify-content: center;
        background-color: rgb(60, 60, 153);
    }
    #ascentImage ,#bindImage , #breezeImage , #havenImage , #iceboxImage , #splitImage{
        min-height: 0;
    }
    #ascentdescText, #binddescText , #breezedescText , #havendescText , #iceboxdescText , #splitdescText{
        display: flex;
        align-items: center;
        text-align: center;
        color: rgb(119, 255, 7);
        font-size: 4vh;
    }
    #ascentTitle, #bindTitle , #breezeTitle , #havenTitle , #iceboxTitle , #splitTitle{
        background-color: rgb(30, 30, 105);
        color: red;
        text-align: center;
        padding: 2%;
        font-size: 5vh;
    }
    /* #mobileLaForant{
        margin-top: 10vh;
    }
    .mobilemiddleText, #mobilemaText, #mobilemText, #mobileLaForant , #viewAgents ,#mobilemRegister, #mobileviewagents , #mobileMaps, #mobileviewmaps {
        display: flex;
    }
    .middle{
        display: none;
        margin-top: 0;
        min-height: 50vh;
    }
    .mText, .agentsText, .mapsText{
        display: none;
        background: none;
        padding: 0;
        padding-top: 7vh;
    }
    #LaForant, #Agents , #Maps{
        display: none;
        font-size: 6vh;
    }
    #lfText, #maText , #mmText{
        font-size: 3vh;
    }
    #mRegister, #viewagents , #viewmaps{
        font-size: 4vh;
    }
    .mAgents, .mMaps{
        display: none;
        min-height: 50vh;
    } */
}
